@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Common Styles */

html {
  font-family: "Raleway", sans-serif;
}

/* EOF Common Styles */

/* Header Styles */

.header {
  min-height: 100vh;
  width: 100%;
  background-color: #3d3474;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.header-text-container {
  width: 40%;
  padding-left: 90px;
}

.header-title {
  font-size: 72px;
  line-height: 96px;
  background: transparent;
  margin-bottom: 32px;
}

.header-subtitle {
  font-size: 22px;
  line-height: 32px;
}

.header-img-container {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.card-center {
  height: 30vw;
  width: 20vw;
  background-color: #fff;
  border-radius: 8px;
  padding: 8px 8px 75px 8px;
  position: absolute;
}

.card-center-image {
  background-image: url("./images/card-center-img.jpg");
  background-position: top center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.card-left {
  height: 18vw;
  width: 15vw;
  background-color: #fff;
  position: absolute;
  border-radius: 8px;
  margin-right: 18vw;
  margin-top: 25vw;
  z-index: 2;
  padding: 8px 8px 40px 8px;
}

.card-left-image {
  background-image: url("./images/card-left-img.jpg");
  background-position: top center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.card-right {
  height: 18vw;
  width: 15vw;
  background-color: #fff;
  position: absolute;
  border-radius: 8px;
  margin-left: 25vw;
  margin-bottom: 8vw;
  z-index: 2;
  padding: 8px 8px 40px 8px;
}

.card-right-image {
  background-image: url("./images/card-right-img.jpg");
  background-position: top center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 1250px) {
  .header-text-container {
    width: 40%;
    padding-left: 38px;
  }
  .header-title {
    font-size: 65px;
    line-height: 80px;
  }
}

@media only screen and (max-width: 950px) {
  .header {
    flex-direction: column;
    justify-content: space-around;
  }

  .header-text-container {
    width: 100%;
    padding: 10px;
    text-align: center;
  }

  .header-title {
    margin-bottom: 8px;
  }

  .header-img-container {
    width: 100%;
    margin-top: -10vw;
    margin-bottom: 10vw;
  }
  .card-center {
    height: 40vh;
    width: 30vh;
    padding: 8px 8px 50px 8px;
  }

  .card-left {
    height: 24vh;
    width: 22vh;
    padding: 8px 8px 30px 8px;
  }

  .card-right {
    height: 24vh;
    width: 22vh;
    padding: 8px 8px 30px 8px;
  }
}

@media only screen and (max-width: 750px) {
  .header-text-container {
    width: 100%;
    padding: 10px;
    text-align: center;
  }

  .header-title {
    font-size: 50px;
    margin-bottom: 8px;
    line-height: 80px;
  }

  .header-img-container {
    width: 100%;
    margin-top: -10vw;
    margin-bottom: 10vw;
  }
  .card-center {
    height: 40vh;
    width: 30vh;
    padding: 8px 8px 50px 8px;
  }

  .card-left {
    margin-right: 30vw;
    margin-top: 30vw;
  }

  .card-right {
    margin-left: 38vw;
    margin-bottom: 8vw;
  }
}

@media only screen and (max-width: 600px) {
  .header-title {
    font-size: 45px;
    margin-bottom: 10px;
    line-height: normal;
  }

  .card-left {
    margin-right: 30vw;
    margin-top: 35vw;
  }

  .card-right {
    margin-left: 38vw;
    margin-bottom: 8vw;
  }
}

/* EOF Header Styles */

/* Data Section Styles */

.data-section-wrapper {
  padding: 104px;
  background-color: #e5e5e5;
}

.data-section-title {
  font-size: 48px;
  line-height: 64px;
  margin-bottom: 40px;
}

.data-section-container {
  display: flex;
  justify-content: space-between;
}

.articles-container {
  width: 60vw;
  display: flex;
  flex-direction: column;
}

.article {
  background-color: #fff;
  margin-bottom: 15px;
  border-radius: 8px;
  padding: 20px;
  display: flex;
}

.article-img {
  border-radius: 8px;
  height: 15vw;
  width: 15vw;
  margin-right: 15px;
  object-position: top center;
  object-fit: cover;
}

.article-text-data {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.article-label {
  background: rgba(67, 204, 116, 0.2);
  width: max-content;
  color: rgb(67, 204, 116);
  padding: 5px 20px;
  font-size: 14px;
  font-weight: 600;
}

.article-title {
  font-size: 32px;
  line-height: 43px;
  color: #333333;
}

.article-desc {
  color: #666666;
  font-size: 16px;
  line-height: 150%;
}

.read-more-article {
  text-decoration: none;
  color: rgb(67, 204, 116);
  font-size: 16px;
  line-height: 150%;
}

.side-bar-container {
  width: 22vw;
  display: flex;
  flex-direction: column;
}

.searchbar {
  background: #fff;
  border-radius: 8px;
  padding: 18px;
  margin-bottom: 24px;
}

.searchbar-title {
  font-size: 24px;
  line-height: 32px;
  color: #333333;
  margin-bottom: 10px;
}

.searchbar-input {
  height: 48px;
  width: 100%;
  border: 2px solid #333333;
  border-radius: 8px;
  padding: 0px 15px;
  outline: none;
}

.popularpost {
  background: #ffffff;
  border-radius: 8px;
  padding: 30px 15px;
}

.popularpost-title {
  font-size: 24px;
  line-height: 32px;
  color: #000000;
  margin-bottom: 20px;
}

.popularpost-container {
  display: flex;
  flex-direction: column;
}

.post {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 21px;
}

.post-img {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  background-color: #3d3474;
  border-radius: 8px;
}

.post-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media only screen and (max-width: 1250px) {
  .data-section-wrapper {
    padding: 80px;
    background-color: #e5e5e5;
  }
  .side-bar-container {
    width: 24vw;
  }
  .article-title {
    font-size: 28px;
    line-height: 36px;
  }
  .article-desc {
    font-size: 14px;
    line-height: 120%;
  }
}

@media only screen and (max-width: 1150px) {
  .data-section-wrapper {
    padding: 30px;
    background-color: #e5e5e5;
  }
  .articles-container {
    width: 64vw;
  }
  .side-bar-container {
    width: 28vw;
  }
  .article-label {
    font-size: 12px;
  }
  .article-title {
    font-size: 24px;
    line-height: 30px;
  }
  .article-desc {
    font-size: 13px;
    line-height: 100%;
  }
  .read-more-article {
    font-size: 14px;
    line-height: 120%;
  }
}

@media only screen and (max-width: 950px) {
  .data-section-container {
    flex-direction: column;
  }
  .data-section-wrapper {
    padding: 30px;
    background-color: #e5e5e5;
  }
  .articles-container {
    width: 100%;
  }
  .side-bar-container {
    width: 100%;
  }
  .article-img {
    height: 22vw;
    width: 22vw;
  }
  .article-label {
    font-size: 12px;
  }
  .article-title {
    font-size: 22px;
    line-height: 25px;
  }
  .article-desc {
    font-size: 16px;
  }
  .read-more-article {
    line-height: 100%;
  }
}

@media only screen and (max-width: 750px) {
  .data-section-container {
    flex-direction: column;
  }
  .data-section-wrapper {
    padding: 20px;
    background-color: #e5e5e5;
  }
  .articles-container {
    width: 100%;
  }
  .side-bar-container {
    width: 100%;
  }
  /* .article-img {
    height: 22vw;
    width: 22vw;
  } */
  .article-label {
    font-size: 10px;
    margin-bottom: 10px;
  }
  .article-title {
    margin-bottom: 10px;
  }
  .article-desc {
    margin-bottom: 10px;
  }
}
